<a href="https://colab.research.google.com/github/NagaEmbitel/PythonSession/blob/develop/Exercices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#17 April 2022
#without using if else statements or for loops

#Write a program to Find the Maximum Edge of a Triangle.
Note : You will be provided with two sides a triangle. You will have to determine the maximum possible third side.

2
3
5

In [ ]:
first_side = 2
second_side = 3
third_side = first_side + second_side
third_side

5

#Return Reminder of given two numbers

In [ ]:
first_num = 2
second_num = 8
c = second_num % first_num
print(c)

0

#Given a string a = "a b c d e f" remove string with spaces trimmed off in between the alphabets

Note : You shall not use any if else or for loops

In [ ]:
a = "a b c d e f"
print(a[::2])

abcdef

#Given a string a = "jacks technologies" => Print string in capital letters

In [ ]:
a = "jacks technologies"
a.upper()

'JACKS TECHNOLOGIES'

#Given a string 
a = "Peter Piper picked a peck of pickled peppers, A peck of pickled peppers Peter Piper picked; If Peter Piper picked a peck of pickled peppers, Where's the peck of pickled peppers Peter Piper picked?"
#How many times did Peter repeat in the above string and print the answer with a python statement
#Use string handling functions

In [ ]:
a = "Peter Piper picked a peck of pickled peppers, A peck of pickled peppers Peter Piper picked; If Peter Piper picked a peck of pickled peppers, Where's the peck of pickled peppers Peter Piper picked?"
print(a.count("Peter"))

4

#In the above example 
a = "Peter Piper picked a peck of pickled peppers, A peck of pickled peppers Peter Piper picked; If Peter Piper picked a peck of pickled peppers, Where's the peck of pickled peppers Peter Piper picked?""
#Replace all Piper with Parker
#Use string handling fucntions

In [ ]:
print(a.replace("Piper","Parker"))

Peter Parker picked a peck of pickled peppers, A peck of pickled peppers Peter Parker picked; If Peter Parker picked a peck of pickled peppers, Where's the peck of pickled peppers Peter Parker picked?

#Given a password pwd = "jacks@1234"
Password is always encrypted to maintain security standards. Encrypt the given string with heading 0000 forthe pwd mentioned above using string handling functions other than concatenation

In [ ]:
pwd = "jacks@1234"
pwd = "0000" + pwd
pwd

'0000jacks@1234'

#Given a string a = "jACKS tECHNOLOGIES"
Conver the lower case to upper case and upper case to lower case using a string handling functions

In [ ]:
a = "jACKS tECHNOLOGIES"
a.capitalize()

'Jacks technologies'

1. Create an empty List say a = [ ]
2. Add 3 elements : one element is of Integer type, one element is of Float type and another is a tuple type of size 4. 
len(tuple) = 4 => 4 elements
3. Print 3rd element from tuple
4. Try Deleting 2nd element in Tuple
5. Try deleting last element from list a.

In [ ]:
a  = []
a.append(1)
a.append(2.5)
a.append((1,2,3,4))
#Step4 is not possible : tuple is immutable
a.pop()
a

[1, 2.5]

# Given my_dict = {'First': 'Python', 'Second': 'Java', 'Third': 'Ruby'}
Print its items correspondingly => 
* Keys in the given dictionary mydict is :
* Values in the given dictionary is:

In [ ]:
my_dict = {'First': 'Python', 'Second': 'Java', 'Third': 'Ruby'}
print("Keys in the given dictionary mydict is : {}".format(my_dict.keys()))
print("Values in the given dictionary mydict is : {}".format(my_dict.values()))

Keys in the given dictionary mydict is : dict_keys(['First', 'Second', 'Third'])
Values in the given dictionary mydict is : dict_values(['Python', 'Java', 'Ruby'])

#Given a list a = [1,[2,[3,[4,[5,]]]]] print value  5 on console

In [ ]:
a = [1,[2,[3,[4,[5,]]]]]
a[1]
a[1][1][1][1][0]

5

#Given a list a = [1,(2,3),(4),(5),[6,7],(8,9,10)] print value 10 on console

In [ ]:
a = [1,(2,3),(4),(5),[6,7],(8,9,10)]
a[5][2]

10

#Given a list a = [1,2,3,4,5,6,7,8,9,10] 
1. What is a[::-1]
2. What is a[::2]
3. What is a[::3]
4. what is a[-1:-10:2]
5. what is a[-1:-9:2]
6. what is a[-10::-2]
7. what is a[-10::2]
#Try by not running the statement on console

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10] 
a[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a[::2]

[1, 3, 5, 7, 9]

In [ ]:
a[::3]

[1, 4, 7, 10]

In [ ]:
a[-1:-10:2]

[]

In [ ]:
a[-1:-9:2]

[]

In [ ]:
a[-5::-2]

[6, 4, 2]

In [ ]:
a[-10::2]

[1, 3, 5, 7, 9]

#Check the below dictionary and write input statements for printing as shown below:
1. Counter  shall increment as 1,2,3 
2. My Fav Show in Prime is Movie_2 
3. My Fav Show in Netflix is Money_Heist
4. One of my Fav Animals is Lion
5. One of my Fav Birds is KingFisher

In [ ]:
a = [\
[1,2,3],\
{"Fav_Animals":["Tiger","Cow","Lion","Elephant"]},\
{"Fav_Birds":("Pigeon","Peacock","Eagle","Sparrow","Kingfisher")},\
{"Fav_Shows":[{"Prime":("Movie_1","Movie_2")},{"Netflix":["Money_Heist","Show2"]}]}
]
print("Count Down:{}".format(a[0][0]))
print("Count Down:{}".format(a[0][1]))
print("Count Down:{}".format(a[0][2]))
print("My Fav Show in Prime is : {}".format(a[3]["Fav_Shows"][0]["Prime"][1]))

Count Down:1
Count Down:2
Count Down:3
My Fav Show in Prime is : Movie_2

#Given a tuple a = (1,(2,(3,(4,(5))))) print 5 from the tuple

In [3]:
a = (1,(2,(3,(4,(5)))))
a[1][1][1][1]

TypeError: ignored

a = ["Naga","Arjun","Sreenivasulu",("Jacks","Technologies")]
#print => Jacks Technologies

In [5]:
a = ["Naga","Arjun","Sreenivasulu",("Jacks","Technologies")]
print(a[3][0] + " " + a[3][1])

Jacks Technologies

a = {"Institute_FirstName":"Jacks","Institute_SecondName":"Technologies"}
#print => Jacks Technologies

In [6]:
a = {"Institute_FirstName":"Jacks","Institute_SecondName":"Technologies"}
print(a["Institute_FirstName"] + " " + a["Institute_SecondName"])

Jacks Technologies

a = [{"Institute_FirstName":"Jacks","Institute_SecondName":"Technologies"}]
#print => Jacks Technologies

In [7]:
a = [{"Institute_FirstName":"Jacks","Institute_SecondName":"Technologies"}]
print(a[0]["Institute_FirstName"] + " " + a[0]["Institute_SecondName"])

Jacks Technologies

a = ({"Naga":32,"Marks":[50,50,65,75]},["a","b","c",4134],("Naga"),{"Name":("Naga","Arjun")})
#Name of Candidate is Naga and his marks in 3rd subject is 65
#Registered number is : 4134
#Full name is NagaArjun

In [11]:
a = ({"Naga":32,"Marks":[50,50,65,75]},["a","b","c",4134],("Naga"),{"Name":("Naga","Arjun")})
print("Name of Candidate is {0} and his marks in 3rd subject is {1}".format(a[2],a[0]["Marks"][2]))
print("Registered number is : {0}".format(a[1][3]))
print("Full name is {0}{1}".format(a[3]["Name"][0],a[3]["Name"][1]))

Name of Candidate is Naga and his marks in 3rd subject is 65
Registered number is : 4134
Full name is NagaArjun

#Week 2
Questions related to Sets,Strings, Conditional and Looping statements

Differentiate between lists and tuples.
A. List is mutable and Tuple is immutable

What are negative indices?

Is Python case-sensitive?
Yes. Python is case-sensitive.
Because Python can differentiate given two variables :var, Var, vAr

What are various key words used in Python?
True, False, and , or, is, else, if, for, while, ....

How would you convert a string into lowercase?
a = "Naga"
a.lower()

What is the pass statement in Python?
do nothing

In [ ]:
#Write a program for Fibonacci series ?

What is slicing?

How would you declare a comment in Python?
#

In [ ]:
# Inside function and factory function.

positional arguments vs keyword arguments
*args, **kwrds