<a href="https://colab.research.google.com/github/NagaEmbitel/PythonSession/blob/develop/Nagarjuna_Python_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

```
# This is Session 4
```
List : Ordered and Mutable DS => 
        Indexing => U can invoke the element / data by its position
        Mutable => Editable/Can be changed.As below List_a[any index] = Any value
        List_a = [1,2,3,4,5,6] 
        list_b = []
Tuple : Ordered and Immutable
        Indexing => U can invoke the element / data by its position
        Mutable => cant be Editable/Cant be changed. There are very limited functionalities with tuple.

Dictionary : Unordered DS and Mutable

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("This is beautiful world!!!")

This is beautiful world!!!

In [ ]:
a = 1

In [ ]:
a = 2

In [ ]:
a = 20
b = 10
c = a+ b/2 + 2
print(c)
c = b%2
print(c)

27.0
0

In [ ]:
a = "This is Nagarjuna"
b = "\nHello World"
c = a+b
print(c)

This is Nagarjuna
Hello World

In [ ]:
a
type(a)

str

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
a

'This is Nagarjuna'

In [ ]:
a.__add__("Hello World")

'This is NagarjunaHello World'

In [ ]:
b = "Naga"
b.__eq__("Naga")

True

In [ ]:
a.__contains__("Nagarjuna")

True

In [ ]:
a = "This is fourth Session of Python"
a.__contains__("PYTHON")

False

In [ ]:
a.__hash__()

4934217556980177188

In [ ]:
a.find("Python")

26

In [ ]:
#Indexing
print(a[0])
print(a[1])
print(a[10])
print(a[26])

T
h
u
P

In [ ]:
#Slicing
a[8:15]

'fourth '

In [ ]:
a[-10:-6]

' of '

In [ ]:
a = "a b c d e f g"

In [ ]:
a[2]

'b'

In [ ]:
a[::2]

'abcdefg'

In [ ]:
a[::3]

'a d g'

In [ ]:
a[::4]

'aceg'

In [ ]:
a[::5]

'a f'

In [ ]:
a[::-1]

'g f e d c b a'

In [ ]:
a[::-2]

'gfedcba'

In [ ]:
a[::-3]

'g d a'

In [ ]:
print("Hello \nWorld")

Hello
World

In [ ]:
print("Hello \tWorld")

Hello 	World

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13] #ordered but mutable

In [ ]:
a.append(7)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 7]

In [ ]:
b = a[::-2]
b

[7, 12, 10, 8, 6, 4, 2]

In [ ]:
b = a[::2]
b

[1, 3, 5, 7, 9, 11, 13]

In [ ]:
a.pop()

7

In [ ]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
a.pop(-1)

13

In [ ]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
b = (1,2,3,4,5,6) #ordered but immutable

In [ ]:
c = {1,2,3,4,5,6,1,2,3,4,5,6} #oredered and Unique entries
c

{1, 2, 3, 4, 5, 6}

In [ ]:
d = {"Name":"Naga", "Age":32}

In [ ]:
a.count(3)

1

In [ ]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
b = []
b.append(a[1])

In [ ]:
b
b.append(a[2])

In [ ]:
b

[2, 3]

In [ ]:
b[0]

2

In [ ]:
b[1]

3

In [ ]:
b[2]

IndexError: ignored

In [ ]:
b.append(a[5])

In [ ]:
b

In [ ]:
len(b)

In [ ]:
a = "This"
len(a)

In [ ]:
b.clear()

In [ ]:
b

In [ ]:
b.extend([1,2,3])

In [ ]:
b

In [ ]:
b.append(4)

In [ ]:
b.extend([5,6,7,8])

In [ ]:
b

In [ ]:
a = b.copy()

In [ ]:
a

In [ ]:
c = b.copy()
c

In [ ]:
c.pop()

In [ ]:
c

In [ ]:
c.pop()

In [ ]:
c

In [ ]:
c.reverse()

In [ ]:
c

In [ ]:
c.index(6)

In [ ]:
c = (1,2,3,4,5,6)

In [ ]:
c.index(5)

In [ ]:
c.count(4)

In [ ]:
c.pop()

In [ ]:
d = {"Name":"Naga", "Age":32}

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

In [ ]:
type(d.items())

In [ ]:
a = d.keys()
a

In [ ]:
a = d.values()
a

In [ ]:
d.pop("Age")

In [ ]:
d

In [ ]:
d.update({"Age":32})

In [ ]:
d

In [ ]:
d.update({"Gender":"M"})

In [ ]:
d

In [ ]:
a = []
b = ()
c = {}
a.append(1)
a

In [ ]:
a.pop()

In [ ]:
a.extend([50,45,43,42])

In [ ]:
c.update({"Marks":a})

In [ ]:
c

In [ ]:
a.extend([c])

In [ ]:
a

In [ ]:
a.pop()

In [ ]:
a.pop()

In [ ]:
a

In [ ]:
b = (a)

In [ ]:
b = (0,a)

In [ ]:
b

In [ ]:
len(b[1])

In [ ]:
b[1][2]

In [ ]:
a = [1,2,3,4,[5,6,7],8,9,[10,11]]

In [ ]:
type(a.pop())

In [ ]:
type(a[4])

In [ ]:
type(a[5])

```
# This is Session 5
```

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
a[::2]

In [ ]:
a[::3]

In [ ]:
a[::4]

In [ ]:
y = (1,2,3,4,5,6,7,8,9,"Naga",True,2.5)

In [ ]:
len(y)

In [ ]:
y.index(9)

In [ ]:
y.count(1)

In [ ]:
y.pop()

In [ ]:
y.append(4)

In [ ]:
z = {"Name" : "Naga","Age":32}
z["Age"]

In [ ]:
z.items()

In [ ]:
z.keys()

In [ ]:
z.values()

In [ ]:
z.clear()

In [ ]:
z.pop("Name")

In [ ]:
z.update({"Gender":"M"})

In [ ]:
z

In [ ]:
z.update({"ID":4134})

In [ ]:
z

In [ ]:
a = [1,[2,[3,[4,[5,[6]]]]]]
a[0]

In [ ]:
b = a[1]
b

In [ ]:
b[0]

In [ ]:
b[1]

In [ ]:
a[1][1]

In [ ]:
c = b[1]

In [ ]:
c

In [ ]:
d = c[1]
d

In [ ]:
a[1][1][1]

In [ ]:
e = d[1]
e[0]

In [ ]:
a[1][1][1][1][0]

In [ ]:
a = [1,2,3,[4,5,6]]

In [ ]:
a[0]

In [ ]:
a[3][0]

In [ ]:
a = [1,[2,[3,[4,[5,[6]]]]]]
b = a[1]
c = b[1]
d = c[1]
e = d[1]
f = e[1]

In [ ]:
a[1][1][1][1][1][0]

In [ ]:
a = (1,(2,(3,(4,5,(6)))))
a[1][1][1][2]

In [ ]:
a = (1,2,3,(4,5,6),(7,8))
#extract 8 from tuple
a[4][1]

In [ ]:
'''
List: Max,min, len, 
# Display sliced list
print(List[::-1])
 
# Display sliced list
print(List[::-3])
 
# Display sliced list
print(List[:1:-2])
########
# Initialize list
List = [-999, 'G4G', 1706256, '^_^', 3.1496]
 
# Show original list
print("\nOriginal List:\n", List)
 
print("\nSliced Lists: ")
 
# Display sliced list
print(List[10::2])
 
# Display sliced list
print(List[1:1:1])
 
# Display sliced list
print(List[-1:-1:-1])
 
# Display sliced list
print(List[:0:])
########

'''

#This is Session 6
  ![image.png]()

In [ ]:
a = "a b c d e f g"

In [ ]:
print(a[::2]) #abcdefg
print(a[::3]) #a d g

In [ ]:
a = "12345678"
print(a[::-1]) #exp:1357
print(a[::3]) #exp:147

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(a[-1:-10:-2])

In [ ]:
a[-10:-1:2]

In [ ]:
a = [1,2,3]

In [ ]:
a = [1,2,3,(7,8,9),10]
#9
a[3][2]

In [ ]:
a = [1,2,3,(4),(5),(6),(7,8),(9,10,11)]
#9
a[7][0]

In [ ]:
a

In [ ]:
#10
a[7][1]

In [ ]:
a = [1,2,3,(6,7,8),{"Naga":32}] #8
a[3][2]
#32
a[4]["Naga"]

In [ ]:
a = ["Naga","Arjun","Sreenivasulu",("Jacks","Technologies")]
#print => Jacks Technologies 
#Use String concatenation
a[3][0] + " " + a[3][1]
type(a)

In [ ]:
a = {"Institute_FirstName":"Jacks","Institute_SecondName":"Technologies"}
#print => Jacks Technologies 
a["Institute_FirstName"] + " " + a["Institute_SecondName"]
type(a)
a.keys()

In [ ]:
a = [{"Institute_FirstName":"Jacks","Institute_SecondName":"Technologies"}]
#print => Jacks Technologies
type(a[0])
a[0]["Institute_FirstName"] + " " + a[0]["Institute_SecondName"]

In [ ]:
a = ({"Naga":32,"Marks":[50,50,65,75]},["a","b","c",4134],("Naga"),{"Name":("Naga","Arjun")})
#Name of Candidate is Naga and his marks in 3rd subject is 65
#Registered number is : 4134
#Full name is NagaArjun
#a[0]["Marks"][2]
x = a[3]["Name"][0]
y = a[0]["Marks"][2]
print("Name of the Candidate is {0} and his marks in 3rd subject is {1}".format(x,y))
print("Registered number is {b:}".format(b=a[1][3]))

In [ ]:
a = "Naga"
b = "Arjuna"
print("Name of the Candidate : {0} {1}".format(a,b))

In [ ]:
a = [\
[1,2,3],\
{"Fav_Animals":["Tiger","Cow","Lion","Elephant"]},\
{"Fav_Birds":("Pigeon","Peacock","Eagle","Sparrow","Kingfisher")},\
{"Fav_Shows":[{"Prime":("Movie_1","Movie_2")},{"Netflix":["Money_Heist","Show2"]}]}
]
#Counter  shall increment as 1,2,3
#My Fav Show in Prime is Movie_2
#My Fav Show in Netflix is Money_Heist
#One of my Fav Animals is Lion
#One of my Fav Birds is KingFisher
print("Counter shall increment as {}, {}, {}".format(a[0][0],a[0][1],a[0][2]))

#Python : This is session 7
1. Sets: Some more functions
2. String : Some more functions
3. Conditional operators

In [ ]:
a = {1,2,3,4,5,6,"Naga",1,2,3,4}

In [ ]:
a

In [ ]:
a.add(7)

In [ ]:
a

In [ ]:
a.clear()
a

In [ ]:
a.update({1,2,3})

In [ ]:
a

In [ ]:
b = {3,4,5}
a.intersection(b)

In [ ]:
a.union(b)

In [ ]:
a.pop()

In [ ]:
a.pop()

In [ ]:
a

In [ ]:
a = [1,2,3]
a.pop()

In [ ]:
b = {1,2,3}
b.pop()

In [ ]:
a.pop()

In [ ]:
b

In [ ]:
b.pop()

In [ ]:
b

In [ ]:
x = {1,2,3}

In [ ]:
y = {1,2,3}
y.issubset(x)

In [ ]:
a = "naga is a tutor. he is also a student"
b = a.capitalize()
a

In [ ]:
a.count("tutor")
a.count("is")

In [ ]:
a.find("is",6)

In [ ]:
a.islower()

In [ ]:
a

In [ ]:
a.join()

In [ ]:
a

In [ ]:
'.'.join(["192","168","50","100"])

In [ ]:
a = "abcd"
','.join(a)

In [ ]:
x = "Naga is a student ?"
x.endswith("?")

#Conditional Operators
#==
#>=
#<=
#>
#<
#!=

In [ ]:
a = 8
b = 8
if(a>b):#True/False
  #do something in case of condition True
  print("a is greater")
  print("go to else in case a isnot greater.")
elif(b>a):
  #do something else in case of condition False
  print("b is greater")
else:
  print("a and b are equal")
#print("a is greater")

#Write a program to determine if a given data is a number

In [ ]:
a = "123"
type(a)

In [ ]:
if(type(a) == int):
  print("Given a is an integer")
else:
  print("Given a is not an integer")

#Write a program to determine if string is lower or upper

In [ ]:
a = "Naga1234"
if(a.islower()):
  print("a is in lower case")
else:
  print("No. a is not in lower case")

#Write a program to determine if a given string is alphanum

In [ ]:
if(a.isalnum()):
  print("Yes a is alphanumeric")
else:

  print("No. as is not alphanumeric")

In [ ]:
#Determine if a given list is empty ot not empty
a = [1,2,3,4]
if(len(a) == 0):
  print("given list a is empty")
else:
  print("No. GIven list a has elements in it")

In [ ]:
a = (1,2,3,[4,5,6])
#if a contains a list in it
if(type(a[3] is list)):
  print("Yes. a contains list")
else:
  print("a donot contain lsit")

#19th April 2022
#Conditional statements and some more programs

In [ ]:
#Comments and indendation
#This is a sample Program for conditional statements 
#Below logic is for calculation of Compound interest or a Loan Interest based on the Principle amount and tenure
#1. Input from User : Principle and tenure
#2. Storing the inputs from UI to variables and Submitting them in the formulae
#3. Calculate the logic as per formulae
#4. Print the interest component : User UI

#Indendation: Plays an important role in Python for it to interpret the logic correctly. 
#def Sum_Two_numbers():
#    a = 1
#    b = 2
#    c = a+b
#    print(c)

In [ ]:
#input()
#Take input from User and determine if its a non zero value.
a = input("Enter a number to determine is it is a non zero value:")
type(a)
if(int(a) != 0):
  print("Entered number {}  is a non zero value".format(a))
else:
  print("Entered number {}  is a zero value".format(a))

In [ ]:
#take input form user and do type casting
a = input("Enter a number")
b = int(a)
print(b)

In [ ]:
#Determine if the given 3 numbers can be a fit for forming a triangle
#a + b >= c
#b + c >= a
#c + a >= b
first_side = int(input("Enter the first side: "))
Second_side = int(input("Enter the second side: "))
Third_side = int(input("Enter the third side: "))
if((first_side <= 0) or (Second_side <= 0) or (Third_side <= 0)):
  print("Enter proper values.")
else:
  if((first_side + Second_side >= Third_side) and (Second_side + Third_side >= first_side) and (first_side + Third_side >= Second_side)):
    print("Entered data or sides can form a triangle")
  else:
    print("Entered data or sides cannot form a triangle")
print("Please continue running it to check fora different combo")

In [ ]:
#Determine type of Triangle based on the 3 sides given
#Equilateral : if all the 3 sides are equal
#Isosceles : if any two sides are equal
#Scalene : If none of the sides are equal

#Steps will determine if the given inputs values can form a triangle or not
first_side = int(input("Enter the first side: "))
Second_side = int(input("Enter the second side: "))
Third_side = int(input("Enter the third side: "))

#First validate the inputs data : Check for non zero and check for positive values
if((first_side <= 0) or (Second_side <= 0) or (Third_side <= 0)):
  print("Enter proper values.")
else:
  #If the given sides form a triangle or not 
  if((first_side + Second_side >= Third_side) and (Second_side + Third_side >= first_side) and (first_side + Third_side >= Second_side)):
    print("Entered data or sides can form a triangle")
    #Steps for determining the type of triangle
    if(first_side == Second_side):
      if(first_side == Third_side):
        print("Given sides are an equilateral triangle")
      else:
        print("Given sidea form an isosceles triangle")
    else:
      if(Second_side == Third_side):
        print("Given sidea form an isosceles triangle")
      else:
        print("Given sidea form a scalene triangle")
  else:
    print("Entered data or sides cannot form a triangle")
print("Please continue running it to check fora different combo")

In [ ]:
#Determine if a given number is a even or odd number
#even -> number divisible by 2 => reminder when divided by 2 is 0
#odd -> number not divisible by 2 => reminder when divided by 2 is 1
a = input("Enter the number to be determined as even or odd:")
b = int(a)
if(b%2 == 0):
  print("Entered number is even number")
else:
  print("Entered number is odd number")

In [ ]:
#Palindrome => xyx, aka, rotor, refer, redivider, kayak
a = input("Enter a string to be determined as a palindrome: ")
#print(a)
#print(b)
if(len(a) > 1):
  b = a[::-1]
  if(a == b):
    print("Given string is a Palindrome")
  else:
    print("Given string is not a Palindrome")
else:
  print("Enter a valid input")

In [ ]:
#Determine the fitness of a person based on BMI
#BMI = Weight/Height**2
#Underweight = <18.5
#Normal weight = 18.5–24.9
#Overweight = 25–29.9
#Obesity = BMI of 30 or greater
Weight = float(input("Enter your weight in Kgs: "))
Height = float(input("Enter your height in meters: "))
BMI = Weight/Height**2
if(BMI < 18.5):
  print("You are Underweght")
elif(BMI >=18.5 and BMI<=24.9):
  print("You are Normal Weight")
elif(BMI>24.9 and BMI<=29.9):
  print("You are Overweight")
else:
  print("You are obese")

In [ ]:
#Determine the pass fail in exams based on the average percentage entered by the user
#Percentage >=85 => Distinction
#Percentage >=75 and <85 => A grade
#Percentage >=65 and <75 => B grade
#Percentage >=55 and <65 => C grade
#Percentage >=40 and <55 => D grade
#Percenrage < 40 => Fail
a = int(input("Enter The percentage for determining the pass / fail: "))
if(a >= 85):
  print("You have passed in Distinction")
elif(a >=75 and a<85):
  print("You have passed with A grade")
elif(a >=65 and a<75):
  print("You have passed with B grade")
elif(a >=55 and a<65):
  print("You have passed with C grade")
elif(a >=40 and a<55):
  print("You have passed with D grade")
else:
  print("Sorry.You are Failed.")

#20 April 2022
#Lambda functionality
#Some More programs in if else and elif

In [ ]:
#nested if
'''
if(condition1):
   if(condition2):
        do something steps
   else:
        do some other handler steps
else:
  do nothing steps
  if(condition):    
'''
#write a program to divide two numbers using if else:
numr = int(input("Enter the numerator"))
deno = int(input("Enter the denominator"))
if(deno == 0):
  print("Please enter a non zero denominator for avoiding run time issues")
else:
  print(numr/deno)

In [ ]:
#Employee : Age retirement yrs left
#input : Employee's age
#processing: determine the yrs left => 65 - input
#output: printing the same on output consolde/pop up
Employee_Age = int(input("Enter the age to determine your yrs left for retirement"))
if(65-Employee_Age <= 0):
  print("Sorry. You are already retired.")
else:
  print("You have still {} years more to go".format(65 - Employee_Age))

In [ ]:
#first set = {1,2,3}
#second set = {2,3}
#DEtermine the which is the subset of superset/disjoint sets
first_set = set(input("Enter your first set: "))
second_set = set(input("Enter your second set: "))
if((len(first_set) !=0) and (len(second_set)!=0)):
  if(first_set == second_set):
    print("Both the given sets are equal")
  else:
    if(first_set.issubset(second_set)):
      print("first set is thesubset to second set.")
    elif(second_set.issubset(first_set)):
      print("second set is thesubset to first set.")
    else:
      print("Given sets are not subset to any other")
else:
  print("Please enter non empty Sets")

In [ ]:
a = {1,2,3}
b = {1,2,3}

In [ ]:
a = "Naga"

In [ ]:
a = 1

In [ ]:
#a = 0
##if(a=0):
#  print("passed")
#if(a==0)

In [ ]:
#password = alphanumeric
password = input("Enter your password:")
if(password.isnumeric()):
  #print("Entered password is not in correct format")
  if(password.isalpha()):
    print("Entered password is in correct format")
  else:
    print("Entered password is not in correct format")  
else:
  print("Entered password is not in correct format")

In [ ]:
a = "Naga"
a.isalnum()

In [ ]:
#password 
#Special characters : @#$&
#Alphabets : atleast 1 Capital, atelast 1 small
#Atleast 1 number
#overall : length 8

In [ ]:
a = {1,2,3}

#21st April 2022

In [ ]:
#password 
#Special characters : @#$& => Park side
#Alphabets : atleast 1 Capital, atelast 1 small
#Atleast 1 number
#overall : length 8
password = input("Enter a password: ")
if(password.isnumeric()):#if cond 1 => Check for number is present or not in the given password
  #Password contains number
  if(password.isalpha()):#if cond 2 => Check for password contians alphabets or not
    #Password contains alphabets
    if(password.isupper()):
      #Password contains upper cases : atleast one upper case
      if(password.islower()):
        #Password contains upper cases : atleast one lower case
        print("Entered password is in correct format")
      else:
        print("Entered password is not in correct format due to no lower case")  
    else:
      print("Entered password is not in correct format due to no upper case") 
  else:
    print("Entered password is not in correct format due to no alphabets")   
else:
  print("Entered password is not in correct format due to no numbers")

#Looping statement:-

In [ ]:
#For loop,while loop
#3 * 2 => repeated addition
#2 *3 => 3 + 3 / 2 + 2 + 2
a = 2
b = 3
mul = 0# a * b
for i in range(b):#0,1,2,3,4,5,6,7,8,9
  mul = mul + a # a = a + a
print(mul)

In [ ]:
#For loop,while loop
#3 * 2 => repeated addition
a = 9
b = 3
#div = 10 -2 = 8
#div = 8 - 2 = 6
#div = 6 -2 = 4
div = a#a/b
counter = 0
while(div >= 0):
  div = div - b
  counter = counter + 1
print(counter -1)

In [ ]:
a = [1,2,3,4,5]
for i in range(len(a)):
  print(a[i])

In [ ]:
a = [1,2,3,4,5]
for i in range(len(a)):
  if(i % 2 != 0):
    print(a[i])

In [ ]:
1 % 2

In [ ]:
a = [1,2,3,4,5]
i = 0
while i != len(a):
  print(a[i])
  i+= 1
#while and if goes in similar manner in terms of condition

In [ ]:
a=(1,2,3,4,5,6)
for i in range(len(a)):
  print(a[i])

In [ ]:
a=(1,2,3,4,5,6)
for i in range(len(a)):
  if(i %2 != 0): 
   print(a[i])

In [ ]:
given_str = "motor"
str_search = "o"
#for i in range(len(given_str)):
count = 0
for i in given_str:
  if(i == str_search):
    count+= 1
print(count)

In [ ]:
#Sum of first n numbers
n = int(input("Enter a number: "))
j = 0
for i in range(1,n+1):
    j = j+i
print(j)

#while( i < )\

n
n*(n-1)*(n-1)*(n-2)*.......n = 1
5 = 5*4*3*2*1

In [ ]:
#Factorial
n = int(input("Enter a number: "))
j = 1
for i in range(1,n+1):
    j = j*i
print(j)

In [ ]:
#22nd April 2022

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("Count down stopped")
print("Count down is finished")

In [ ]:
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

In [ ]:
i = 0
while i < 11:
  i += 1
  if i%2 == 0:#i == 3:
    #print(i)
    continue
  print(i)

# Note that number 3 is missing in the result

In [ ]:
password = "12345678"
counter = 0

while True:
    word = input("Enter the secret word: ").lower()
    counter = counter + 1
    if word == password:
        print("You have logged in successfully")
        break
    if word != password and counter > 7: 
        print("Sorry you have exceeded")
        break

In [ ]:
#fact(n) = n*n-1*n-2*n-3*n-4 .... n=1
#fact(4) = 4*3*2*1 = 
num = int(input("Enter the number for which you need to calcualte factorial: "))
fact = 1
for i in range(1,num+1):
  fact = fact * i
print(fact)

In [ ]:
str_search = "Welcome                                 to      Jacks        technologies!!!"
output_str = ""
for i in range(len(str_search)):
  if(str_search[i] == " " and str_search[i+1] == " "):
    #i+= 1
    pass
  else:
    output_str = output_str + str_search[i]
print(output_str)

In [ ]:
str_search = "banana apple strawberry blueberry pineapple"
#" " => ","
output_str = ""
for i in range(len(str_search)):
  if(str_search[i] == " "):# and str_search[i+1] == " "):
     output_str = output_str + ","
  else:
    output_str = output_str + str_search[i]
print(output_str)

In [ ]:
#prime number
#4 : 1,2,4 . composite
#3 :1 and number itself  1 and 3 ; prime
#6 : 1,2,3,6 => conposite
#7,11,13,17,19 .... => prime
num = int(input("Enter a number: "))
for i in range(2,num+1):
  if((num % i) == 0):
    break
if(i == num):
  print("Given number is a prime number")
else:
  print("Given number is not a prime number")

In [ ]:
num = int(input("Enter a number: "))
i = 1
while(i < num):
  i+= 1
  if((num % i) == 0):
    break

if(i == num):
  print("Given number is a prime number")
else:
  print("Given number is not a prime number")

#23rd April 2022
Pass statement
List and Dict comprehension
Ternary operators
Python is case sensitive
Some references to Python
Exercises.ipynb

In [ ]:
#pass statement
# Its like do nothing
# > 85 Distinction
# > 45 Passed
#  < 45 Failed
a = 46
A = 90
if(a > 85):
  print("Pass in distinction")
elif(a > 45):
  print("Passed")
  #pass
elif(a < 45):
  print("Failed")
else:
  #do nothing
  pass

In [ ]:
#List Comprehension
fruits = ["apple","mango","kiwi","cherry"]
newlist = []
#newlist = [x for x in fruits if 'a' in x]
newlist = [x for x in fruits if "a" in x]
    #newlist.append(x)
newlist

In [ ]:
a = [1,2,3,4,"naga",2.5]
#Mutable : changed/editable
a.append(2.8)
a.pop()
a
for x in a:
  print(x)

In [ ]:
a = {"Naga":32,"Arjun":28}
a["Naga"]

In [ ]:
newlist = [x for x in fruits if("a" in x)]

In [ ]:
for i in fruits:
  if("a" in i):
    newlist.append(i)

In [ ]:
newlist

In [ ]:
user_input = input("Enter your favourite Cuisine:")
menu = ["Soup","Salad","Italian","Meditterienan","Japanese","Asian"]
menu_detailed = {"Soup":["Tomato","Corn","Manchow"],"Salad":["Green","Vegetable"],"Italian":["Pasta"],"Meditterienan":["Pork"],"Japanese":["Sushi"],"Asian":["Spicy"]}
Order = []
Specific_Order = {}
#for x in menu:
#  if(x == user_input):
#    Order.append(x)
#Order
#for x in menu_detailed:
#  if x == user_input:
#    Specific_Order.update({x:menu_detailed[x]})
Order = [x for x in menu if(x == user_input)]
Specific_Order = {x:menu_detailed[x] for x in menu_detailed if x==user_input}
print(Specific_Order)
print(Order)

In [ ]:
newlist

In [ ]:
#print a new list with all numbers < 5 using list comprehension within given lsit having <10 numbers
new_list = [x for x in range(1,10) if(x % 2 == 0)]

In [ ]:
new_list

In [ ]:
new_dict = {x:x**0.5 for x in range(1,10)}

In [ ]:
new_dict

In [ ]:
a = ["Naga","Jack","David"]
b = ["Apple","Mango","Banana"]
#c = [x,y ]

In [ ]:
sample_dict = {"Naga":32,"Jack":28,"David":65}
#for x in sample_dict:
 # print(sample_dict[x])
new_list = [x for x in sample_dict if sample_dict[x] < 65]
new_list

In [ ]:
#case seneitive and Case In-sensitive
#Case sensitive : 
new_list = [1,2,3]
New_list = [3,4,5]
print(new_list)
print(New_list)
#Case Insensitive :

In [ ]:
#python References : https://docs.python.org/3/tutorial/index.html

26th April 2022

In [ ]:
#Derive  a dictoinary : {num:num**2}
#dict_new = {1:1,2:4,3:9} until num = int(input("Enter a number: "))
dict_new = {}
user_input = int(input("Enter a number:"))
#for x in range(user_input):
  #dict_new.update({x:x**2})
dict_new = {x:x**2 for x in range(user_input)}
dict_new

In [ ]:
database = {"Naga":32,"Jack":28,"John":21,"Mavis":20,"Gru":65,"Udo":64}#Name:Age
retire_Dict = {}#Only consists of only members whose age is > 60
#retire_Dict = {"Gru":65,"Udo":64}
retire_Dict = {x:database[x] for x in database if database[x]>60}
retire_Dict

In [ ]:
a = 3
b = 2
if (a<b):
  min = a
else:
  min = b
min = a if a < b else b
min

In [ ]:
a,b = 10,20

In [ ]:
a

In [ ]:
b

In [ ]:
a = 5
b = 7
print("a is greater") if a >b else print("b is greater")

In [ ]:
a = 1
b = 2
c = 3
print("a is grater") if a>b  else("b is greater") if  b>c  else("c is grater")

In [ ]:
a = "Naga"#4
print("a is a string") if (type(a) is str) else print("a is a num") if (type(a) is int) else print("a is neither int nor string")

In [ ]:
#Functions and methods

In [ ]:
#Functions : user defined data types, user defined logic which can be enclosed only once and called any number of times.

In [ ]:
def great_2_num(a = 0,b = 0):
  if(a > b):
    print("a is greater")
  else:
    print("b is greater")
  return 0

In [ ]:
great_2_num(2,3)

In [ ]:
great_2_num(3,2)

In [ ]:
great_2_num(2)

In [ ]:
#writea function for doing a sum of two numbers,User shall pass dynamically arguments while calling it
#return the output value and print it on console
def sum(a = 0, b = 0):
  return a + b
sum(2,3)

In [ ]:
#writea function for doing any arithmetic opn of two numbers, User shall pass dynamically arguments including arith opn while calling it
#return the output value and print it on console
def arith(a = 0, b = 0, oper = "do nothing"):#oper = sum, diff, mul, div, moddiv
  if (oper == "sum"):
    return a+b
  elif (oper == "diff"):
    return a-b
  elif (oper == "mul"):
    return a*b
  elif (oper == "div"):
    return a/b
  elif (oper == "moddiv"):
    return a%b
  else:
    return 0

In [ ]:
arith(2,3,"sum")

In [ ]:
#27th April 2022

In [ ]:
def Sum(a,b):
  return a+b
c = Sum(2,3)

In [ ]:
c

In [ ]:
def div(num,den):
  if(den!= 0):
    return num/den
  else:
    print("Invalid input")
    return 0
op = div(2,0)

In [ ]:
op

In [ ]:
#Sum of first  n numbers
def Sum_n_Num(num):
  temp = 0
  for i in range(1,num+1):
    temp+= i
  return temp

In [ ]:
Sum_n_Num(10)

In [ ]:
def Sum_n_Num(num):
  return int(num*(num+1)/2)

In [ ]:
#func(str1,str2): return
def func(str_a, str_b):
  return str_a+" "+str_b

In [ ]:
func("Jacks","Technologies")

In [ ]:
mylist = [1,2,3,4]
#function : adding/remving print(mylist) and printthe same within the fcuntion
def list_changer(lst = []):
  mylist.extend(lst)
  return mylist
list_changer([4])

In [ ]:
list_changer([5])

In [ ]:
dict_a = {}
def func(key,value):
  dict_a.update({key:value})
  print(dict_a)
func("Naga",32)
func("Jack",28)
func("Biden",60)

In [ ]:
dict_a

In [ ]:
#factorial of  num without using for loops
def fact(num):
  if(num > 0):
    return num*fact(num - 1)
  else:
    return 1
fact(5)

In [ ]:
#factorial of a num without using if else conditional statements
def fact(num):
  temp = 1
  for i in range(1,num+1):
    temp = temp*i
  return temp
fact(5)
#fact(num) = num*(num-1)*(num-2)*(num-3).......1
#fact(3) = 3*2*1 = 6
#fact(5) = 5*4*3*2*1 = 120

In [ ]:
#prime or composite (num)
def prime_comp(num):
  for i in range(2,num):#2,3,4,........num-1
    if(num % i == 0):
      return True
      break
    else:
      continue
  return False  
print(prime_comp(15))

In [ ]:
#prime or composite (num)
def prime_comp(num):
  x = []
  x = [i for i in range(2,num) if(num % i == 0)]
  return x

if(prime_comp(3) != []):
  print("Composite")
else:
  print("Prime")

In [ ]:
#prime or composite (num)
def factors(num):
  x = []
  x = [i for i in range(2,num) if(num % i == 0)]
  return x
factors(6)

In [ ]:
#determine a num even or odd:
def even_odd(num):
  return num%2 == 0 
x = even_odd(5)
print("given num is even") if x else print("given num is odd")

In [ ]:
#absolute num of a given num
#abs(num):
# -2 = 2
# 2 = 2
def abs(num):
  return -(num) if num<0 else num

abs(-10)

#28th April 2022
#Scope and life time of a variable
#func(*args)
#func(**kwrds)

In [ ]:
b = 1
def sample():
  b = 2
  print("Inside the function: ",b)

#print(b)
sample()
#print(b)

In [ ]:
a = 4
c = a*2
def sample_1():
    c = a*3
    print(id(c))
    print(c)

print(c)
print(id(c))
sample_1()
print(c)

In [ ]:
x  = 300
def sample_2():
  print(x,id(x))

print(x,id(x))
sample_2()

In [ ]:
x = 300
print(x,id(x))
print(x,id(x))
x = 200
print(x,id(x))
x = 100
print(x,id(x))

In [ ]:
message = "Hello World!!"
def encypt_1():
  method = 1
  print(message.encode(method))

def encrupt_2():
  method = 2
  print(message.encode(method))

y = m*x + c
def y_intercept_1():
  c = 0
  y = 

def y_intercept_2():
  c = 1
  y =

In [ ]:
CRC = 0
def Checksum_8():
  CRC = first_byte*0.5+second_byte*0.25

def Checksum_16():
  CRC = first_byte*0.5*0.5+second_byte*0.25*0.25

In [ ]:
#*args
#**kwargs
def myBiodata(*argv):
  for arg in argv:
    print(arg)

myOrder("Naga","32","TrackPant","Shoes")
print("****************************************")
myOrder("Jack:","Laptop","Charger","Extra RAM Board","keyBoard")

In [ ]:
def SumofNNum(*Num):
  Sum = 0
  for i in Num:
      Sum = Sum + i
  print(Sum)

SumofNNum(4,2,6,8,10,25)

In [ ]:
Sum = 0
def SumofNNum1(*Num):
  for i in Num:
      Sum = Sum + i
  print(Sum)

SumofNNum(4,2,6,8,10,25)

In [ ]:
def update_list(*argc):
  student = []
  for arg in argc:
    student.append(arg)
  print(student)

update_list(91,90,89,88,85,67)
update_list(90,"-",85,99,90,100,35)#6 - 1=  5
update_list(90,"-",85,99,90,100,75)#5 - 1 = 4
update_list(90,"-",85,99,50)

In [ ]:
def myFunc(**kwargs):
  for key,value in kwargs.items():
    print("{0} = {1}".format(key,value))

myFunc(Name = "Raja",Age = "32", Occupation = "Self_employed")

In [ ]:
def student_database(*args,**kwargs):
  print("args: ",args)
  print("keywords: ",kwargs)

student_database("Mamatha",25,Name = "Naga",Marks_SSC = 89,Marks_HSC = 90,Languages = [])

In [ ]:
#Create a function : calculate ur bill
#Fruits : banana : 30,mango : 100, pomeg:120 = amoutn : 250
#total_fruits(banana : 30,mango : 100, pomeg:120)
#amount = 250
def total_fruits(**fruits):
  total_amount = 0
  for fruit in fruits.values():
    total_amount += fruit
  print(total_amount)

total_fruits(banana = 30,mango = 100, pomeg=120)
total_fruits(banana = 25,beans = 50, onions=20,tomatoes = 40, kiwi = 90)

In [ ]:
#Book stall & stationary
#Books : 3 (mech, elec,comp)
#Stationary : Pen:, Pencils: Caryons: bags :
def udpate_cart(*CustomerDetails,**Items_Itenary):
  total_amount = 0
  for Item in Items_Itenary.values():
    total_amount += Item
  print(CustomerDetails[0],":",total_amount)
  #send_msg("Name","contact num","Hi Dear Custoemr name. Thanks for visiting. please visit again")

udpate_cart("Naga",+91-9876543210,Book1 = 30,Book2 = 100, Book3=200)
udpate_cart("Jack",Pen = 25,Crayons = 50, Eraser=20,Charts = 40, StickyNotes = 90)

In [ ]:
def print_msg(msg):
  def printing():
    print(msg)
  printing()

print_msg("Hello World!!!")

In [ ]:
def print_msg(msg):
  def printing():
    print(msg)
  return printing

another = print_msg("Hello World")
another()

#functions - nested functions, inner functions
#functions as arguments in DS
#positional arguments and keyword arguments
#factory functions

In [ ]:
#positional arugments and Keyword arguments
#Positonal  must be in the correct order
#Keyword : Sicne we are using name/labels so itdonot matter whichever might be the order u pass the args inside the fn call.
def print_func(first_Word = "Hi!!!", second_word = ""):
    print(first_Word," ",second_word)

print_func(second_word = "Naga",first_Word="Hello!!!")

In [ ]:
def sum(a ,b):
  print(a)
  print(a+b)
sum(2)

In [ ]:
#1x + 2y = 0
#2X + 3y = 3

#1 + 2j
#3 + 4j

In [ ]:
#area of rectangle = l * b
#are_of_rect(b = 2,l = 2) #jeyword as ur calling it with labels
#are_of_rect(2,3) #positional arguments

In [ ]:
def main():
  print("Hello World")

if __name__ == "__main__":
  main()

In [ ]:
#lambda :; alias to ur functions
#sum(4,5)
sum = lambda x,y : x+y
sum(2,3)

In [ ]:
mul = lambda x,y : x*y
mul(9,10)

In [ ]:
#lambda arguments : expression
double = lambda x : x*2
double(9)

In [ ]:
def sum(a,b):
  return a+b
a = [2,3, sum(2,3)]

print(a)

In [ ]:
def aggregate(lst = []):
  total = 0
  for i in lst:
    total = total + i
  return total/len(lst)

def update_list(*argc):
  student = []
  for arg in argc:
    if arg is not "-":
      student.append(arg)
  student.append(aggregate(student))
  print(student)

update_list(91,90,89,88,85,67)
update_list(90,"-",85,99,90,100,35)#6 - 1=  5
update_list(90,"-",85,99,90,100,75)#5 - 1 = 4
update_list(90,"-",85,99,50)

#2nd May 2022

In [ ]:
#write a sample program for lambda  for determining multiplication of two numbers
mul_2_num = lambda x,y : x*y
mul_2_num(2,3)

6

In [ ]:
#radians to degrees
#degrees to radians
#deg(num)#num is  in radians => a value in degrees
#rad(num) #num is is degrees => a value in radians
#deg(0.5) => 0.5*180/3.14 => 90/3.14 ~= 30
deg = lambda x : x*57.295 #given num is radians
rad = lambda x : x/57.295 #given num is degrees
deg(0.525)
lambda pi : 3.14
deg = lambda x : (float(x*180)/float(pi))
deg(0.525)

30.095541401273884

In [ ]:
#lambda : returning square root of a given number
sq_rt = lambda x : x**0.5
sq_rt(7)

2.6457513110645907

In [ ]:
2**3

8

In [ ]:
#Home work : lambda function (not using in built functions)
reverse_lst = lambda x : x[::-1]

In [ ]:
reverse_lst([1,2,3])

[3, 2, 1]

In [ ]:
pop_lst = lambda x:x[:-1]
a  = [1,2,3,4]
b =  pop_lst(a)
b

[1, 2, 3]

In [ ]:
a

[1, 2, 3]

In [ ]:
#inner fucntions
def func1(x):#outer
  y = 0.5
  def func2():#inner
    return x**y
  a = func2()
  print(a)

func1(16)

4.0

In [ ]:
def outer_fn(text):
  def inner_fn():
    print(text)
  inner_fn()

#inner_fn("Hello World")

NameError: ignored

In [ ]:
#Variables of outerfunction is not changed in the below program:
def f1():
  s = "I love JacksTechnlogies"
  def f2():
    s = "Me too"
    print(s)
  f2()
  print(s)

f1()

Me too
I love JacksTechnlogies

In [ ]:
#However Variables of outerfunction can be changed in the below program:
#using a iterable
def f1():
  s = ["I love JacksTechnlogies"]
  def f2():
    s[0] = "Me too"
    print(s)
  f2()
  print(s)

f1()

['Me too']
['Me too']

In [ ]:
#using a keyword => nonlocal
def f1():
  s = "I love JacksTechnlogies"
  def f2():
    nonlocal s
    s = "Me too"
    print(s)
  f2()
  print(s)

f1()

Me too
Me too

In [ ]:
def num1(x):
  def num2(y):
    return x*y
  return num2

res = num1(10)
print(type(res))
print(res(5))

<class 'function'>
50

In [ ]:
def sum(x,y):
  return x+y

def given_2_num(x,y):
  return sum

c = given_2_num(2,3)
print(type(c))
print(c(2,3))

<class 'function'>
5

In [ ]:
def given_2_num(x,y):
  def sum(x,y):
    return x+y

  return sum(x,y)

c = given_2_num(2,3)
print(type(c))
print(c)

<class 'int'>
5

In [ ]:
def func1():
  a = 10
  def func2(b):
    a = 6
    print(a+b)
  print(a)
  func2(3)

func1()

10
9

In [ ]:
def fun():
  var1 = 10
  def gun():
    nonlocal var1
    var1 = var1 + 10
    print(var1)
  gun()
fun()

20

In [ ]:
g = g+1

#import methods

#Sys module in Python provides various functions and variables that are used to manipulate different parts of the Python runtime environment. Sys modules provides access to variables and functions/methods that interact strongly with the interpreter

In [ ]:
import sys
print(sys.version)

3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]

In [ ]:
#sys.stdin
#sys.argv
#sys.stdout

In [ ]:
a = "Naga"
a.__contains__("a")

True

#9th May 2022
Import OS

In [ ]:
#Getting current working directory
#The currently working directory is the folder in which the python script is saved and being run from.

import os
os.getcwd()

In [ ]:
#Creating a directory
import os
os.mkdir("D:\\Tutorialspoint")

In [ ]:
#Deleting a directory
#Now that you know how to create a folder, let us learn about how you can delete one.

#In order to delete a directory, we will be using the rmdir() function, it stands for remove directory.

import os
os.rmdir("D:\\Tutorialspoint")

In [ ]:
#Renaming a directory
#In order to rename a folder, we use the rename function present in the os module.

import os
os.mkdir("D:\\Tutorialspoint")
os.rename("D:\\Tutorialspoint","D:\\Tutorialspoint2")

In [ ]:
#Basic file manipulation
#Now that you know how to work around with folders, let us look into file manipulation.

Creating a file
file = os.popen("Hello.txt", 'w')

In [ ]:
#Adding content to the created file
file = os.popen("Hello.txt", 'w')
file.write("Hello there! This is a tutorialspoint article")

#11th May 2022
Exception Handling : Handling any run time error in the program so that the program donot crash/do not interrupt/getstuck in a loop
Run time error vs compile time error: 
Whileprogram is getting executed if any error happens to occur => A run time error
On the other hand if any error occurs durinng compile time => compile time error
c = a/b ; b = 0 => run time error
a = []
a.update => Compile time issue

Whenever any exception occur, Python interpreter stops the current process and passes it to the calling process (except) until it is handled.

In [ ]:
c = 100
b = 0
print(c/b)
print("Hello world")

ZeroDivisionError: ignored

In [ ]:
#try : a = c/b #can raise exceptions
#except:print("Hello ! you have entered an in valid datainput") # handle the exception
try:
  c = int(input("Please enter the num:"))
  b = int(input("Please enter the den:"))
  a = c/b
  print(a)
except:
  print("Hello You have entered an invalid data")

Please enter the num:1000
Please enter the den:0
Hello You have entered an invalid data

In [ ]:
c = int(input("Please enter the num:"))
b = int(input("Please enter the den:"))
if (type(a) != str and type(b) != str):
  if(b != 0):
    c = a/b
    print(c)
  else:
    print("Den is zero.Enter any non zero value")
else:
  print("Enter valid data")

Please enter the num:1000
Please enter the den:0
Den is zero.Enter any non zero value

In [ ]:
a = [1,2,3,4]
print("first elem:{0}".format(a[0]))
print("Second elem:{0}".format(a[1]))
print("Third elem:{0}".format(a[2]))
print("Fourth elem:{0}".format(a[3]))
print("Fifth elem:{0}".format(a[4]))

first elem:1
Second elem:2
Third elem:3
Fourth elem:4

IndexError: ignored

In [ ]:
a = [1,2,3,4]
try:
  print("first elem:{0}".format(a[0]))
  print("Second elem:{0}".format(a[1]))
  print("Third elem:{0}".format(a[2]))
  print("Fourth elem:{0}".format(a[3]))
  print("Fifth elem:{0}".format(a[4]))
except:
  print("IndexError: list index out of range")

first elem:1
Second elem:2
Third elem:3
Fourth elem:4
IndexError: list index out of range

In [ ]:
def func(a,b):
  return a/b

try:
  c = func(2,"1")
  print(c)
except ZeroDivisionError:
  print("zero denomitator given")
except TypeError:
  print("Entered data contains strings")
except:
  print("Enter valid data")

Entered data contains strings

In [ ]:
a = 2/"1"

TypeError: ignored

In [ ]:
def func(a,b):
  c = ((a+b)/(a-b))
  return c

try:
  d = func(2,0)
  print(d)
except ZeroDivisionError:
  print("zero denominator during the functioncall")

1.0

In [ ]:
try:
  c = 2 + 2
except TypeError:
  print("Enter valid input for above operation")
else:
  print("Operation performed successfully")
finally:
  #post conditions
  pass

Enter valid input for above operation

In [ ]:
#ArithmeticError
#OverflowError
#FloatingPointError 
#IndexError
c = [1,2,3,4,5]
a = []
try:
  for i in range(len(c)+1):
    a.append(c[i])
except:
  print("Appending elements out of range")

Appending elements out of range

In [ ]:
c = [1,2,3,4,5]
try:
  for i in range(len(c)):
    c.pop()
except:
  print("You are trying to remove element from an empty list")

In [ ]:
c = {"Name":"Naga","Age":32}
c["Age1"]

KeyError: ignored

In [ ]:
#Exception Handlind  - Finally and else statements
#Exceptions in the else clause are not handled by the precesing except clauses
try:
  num = int(input("Enter a number: "))
  assert num%2 == 0
except:
  print("Not an even number")
else:#optional 
  print(1/num)
finally:#optional => It is executed no matter what try / except has been executed.
  pass

Enter a number: 1
Not an even number

In [ ]:
def func(a,b):
  c = ((a+b)/(a-b))
  return c

try:
  d = func(2,2)
except ZeroDivisionError:
  print("zero denominator during the functioncall")
else:
  print(d)

zero denominator during the functioncall

In [ ]:
try:
  k = 5/0
  print(k)
except:
  print("Cant divide by zero")
finally:
  print("This is executed after the above code is executed")

Cant divide by zero
This is executed after the above code is executed

In [ ]:
import sys
try:
  c = 2/0
except:
  print("Please check: ",sys.exc_info()[0])
finally:#optional and post conditions
  print(help(sys.exc_info))

Please check:  <class 'ZeroDivisionError'>
Help on built-in function exc_info in module sys:

exc_info(...)
    exc_info() -> (type, value, traceback)

    Return information about the most recent exception caught by an except
    clause in the current stack frame or in an older stack frame.

None

In [ ]:
import sys
a = [1,2,'a',0]
#For loop for iterating across the above a list
#try except : 1/i  
for i in a:
  try:
    r = 1/i
  except:
    print("Please check :",sys.exc_info()[0])
  finally:
    print("the reversal of value that is lastly fetched :",r)

the reversal of value that is lastly fetched : 1.0
the reversal of value that is lastly fetched : 0.5
Please check : <class 'TypeError'>
the reversal of value that is lastly fetched : 0.5
Please check : <class 'ZeroDivisionError'>
the reversal of value that is lastly fetched : 0.5

In [ ]:
#Raise : Exception can be raised when errors occur at runtime. We can also manually raise exceptions using riase keyword.
#ZeroDivissionError
#ValueError
#NameError
#TypeError
import sys
try:
  a = int(input("Ener a positive integer"))
  if a <= 0:
    raise ValueError("This is not a positive number!!")
except ValueError:
  print(sys.exc_info()[0])

Ener a positive integer-2
<class 'ValueError'>

In [ ]:
a = input("Enter a string: ") #Hello 
# verify if Hello entered in the string 
#Raise an exception => ValueError
try:
  if a.__contains__("Hello"):
    pass
  else:
    raise ValueError("Entered string donot containss a Hello")
except ValueError:
  print(sys.exc_info()[0])
else:
  print("Entered string is correct. It contain Hello")

Enter a string: Hi Naveen
<class 'ValueError'>

In [ ]:
a = "Hello World"
print(a.__contains__("Hello"))

True

In [ ]:
import sys
c = []
#if value entered isa integer (and not a string) type
#  c.append(a)
#raise exception
for i in range(5):
  try:
    a = int(input("Enter a value"))
    if type(a) is int:
      c.append(a)
    else:
      raise ValueError
  except ValueError:
    print("Entered value is not an integer:",sys.exc_info()[0])
  except:
    print("Entered data is incorrect due to ",sys.exc_info()[0])
  finally:
    #print("5 chances are over")
    print(c)

Enter a value1
[1]
Enter a valuehello
Entered value is not an integer: <class 'ValueError'>
[1]
Enter a value3
[1, 3]
Enter a value5
[1, 3, 5]
Enter a value6
[1, 3, 5, 6]

In [ ]:
#Exception handling : some more programs
#Uer defined exceptions : Class and objects
#Oops Intro

In [ ]:
#Update Dictionary using Exception handling
#Validate Key value pair if that is Key:Value format or not
import sys
c = {}
#if value entered is a integer (and not a string) type
#  c.append(a)
#raise exception
for i in range(5):
  try:
    a = input("Enter a Key Value Pair")#string
    c.update({a.split(":")[0]:a.split(":")[1]})
  except Exception as e:
    print("Entered value is not in a format of key value pair:",sys.exc_info()[0])
  except:
    print("Entered data is incorrect due to ",sys.exc_info()[0])
  finally:
    #print("5 chances are over")
    print(c)

Enter a Key Value PairName:Naga
{'Name': 'Naga'}
Enter a Key Value PairName;Naga
Entered value is not an integer: <class 'IndexError'>
{'Name': 'Naga'}
Enter a Key Value PairAge:32
{'Name': 'Naga', 'Age': '32'}
Enter a Key Value Pair3
Entered value is not an integer: <class 'IndexError'>
{'Name': 'Naga', 'Age': '32'}
Enter a Key Value PairHeight:5.5
{'Name': 'Naga', 'Age': '32', 'Height': '5.5'}

In [ ]:
a = "Name:Naga"
a.split(":")

['Name', 'Naga']

In [ ]:
c = {}
c.update({"Nama":"Naga"})

In [ ]:
#Exception handling  : Files and files operation => Pending

In [ ]:
#Programming designs
#OOPS: class and object
#POPS : Sequential and step by step
#main ()

#Address main : program Counter (00001)
#includes 
#void main ()
# {
    #func1 
    #func2
    #func3
#}

![image.png]()

#OOPS : Object oriented programming.
a Programming design based on the concept of "objects". object can contain for eg., User's properties(variables), methods(functions/logic).
data and code.
data : user data in the form of fields
code : logic/procedures
OOPS organizes software design around the data/objects rather than functions and logics.

OOPS : well aligned with your software architecture. once you derive your SW architecture you are almost done with the high level design and will be ready with your low level design easily
POPS: Is more of functions and logic. Not well aligned with your SW architecture. and HLD and LLD are complex in POPS.

OOPS : Used to structure software program into simple, re-usable prices of code (classes) => which is intern used to instantiate object

Applications of OOPS:
*Client - server systems
*Real time system design
*Simulation and modelling system
*Office automation systems

Examples of OOPS : Java, C++, Python

Concepts in OOPS:
=> Class
=> Object
=> Encapsulation
=> Abstraction
=> Inheritance
=> Polymorphism

Class :
A class is a collection of objects. A class contains a blueprint or prototype from which objects are being created. It is a logical entity that contains some properties and methods.
Let's say you wanted to calculate aggregate of given 6 subjects from a user. Let us suppose 100 users are there => How would you know which elemet is supposed to which? What is you want to add 1 more subject. 

class ClassName:
  Statement 1 : can be a property declaration/method definition
  Statement 2 
  Statement 3
eg.,
class UserData:#Naga, Naveen, Mamatha
  Name = ""
  Age = 0
  Marks = []
  def func:
     total = sum(sub+sub+.....sub6)
     aggre = total/6
     print(aggre)

Naga = UserData()
Naga.Name = "Naga"
Naga.Age = 32
Naga.func()
Naveen = UserData()

Object: Is an entity that has a state and behavior associated with it. It is an instance of a class. It is a zerox of class. It may be a real world object => like user data.
Object : State, Behaviour, Identity
State: reflect the properties ofan object
Behavior : Reflets the methods of the object
Identity : Uniue name to object and enables one object to interact with other.

Identiy : Name of the User
State : Age, Height, Colour,
Behav: Education => Academics behaviour. Good/Avg/Above Avg/BelowAvg/Fail

POPS vs OOPS
1) POPS is more of functions and variables whereas OOPS is more of classes and objects, properties and methods
2) POPS is not well aligned with your SW architecture whereas OOPS is well aligned with your SW architecture => LLD (low level deisgn) is easier in OOPS and LLD is little difficult in POPS
3)When you are working in teams POPS is very diffcult whereas OOPS is easy

HLD : High level Design
LLD : Low level Design

For eg., SW => Calcualate In hand from Gross pay. 
Employee is the class name
properties : 
        Name
        Age
        Dept
        Salary (Gross)
methods:
        Calculate_In_Hand():
          Salaray gross as input and prints In hand as output
          => 10% of my gross is In hand
          for eg., 5L is the gross and 10% is taxation => In Hand = 4,50,000

For eg., 
SW which would maintain student database (School / College). Scholarship provision
Class Student():
  properties:
        Name
        Age
        Class
        Section
        Marks
  methods:
        Scholarship()
        Calc_Agregrate()

SW : Employee Bonus Calculation. Bonus Based on his yrs of exp, yrs of service in the company, Rating, Salary.

class Employee():
  properties:
    Name
    Age
    Dept
    Salary
    Total_Exp_Yrs
    DOJ_Curr_Company
    Rating_Database
  methods:
    Bonus_Calc()
    Yrs_Service_Curr_Comp(): DOJ

SW : Zoo (How many wild and domestic animals). 
     Birds ?

Zoo : Animals and Birds => 
      Animals => Wild Animals and Domestic
      Birds => Domestic and Wild
      Wild => Carnivorous and Herbiorous
      Domestic => Carnivorous and Herbiorous
      Animals and Birds => Based on type(Name of animal)
      Count()

class Birds():
    properties:
        ID : 
        Type : wild_Domestic
        Zoo_Keeper : 
    methods:
        Food_Amount():

Tiger1 = Animals()
Tiger2 = Animals()
Deer = Animals()
Parrot = Birds()

Tiger1.ID = "AT101"
Tiger1.Type = "Wild"
Tiger1.Zoo_Keeper = "KT1"

Tiger2.ID = "AT102"
Tiger2.Type = "Wild"
Tiger2.Zoo_Keeper = "KT1"

Deer.ID = "AD100"
Deer.Type = "Wild"
Deep.Zoo_Keeper = "KD2"

In [ ]:
#Home work
#class Animals():
#    #properties:
#    def __init__(self,ID = "",Type = "",Zoo_Keeper = "")
#        self.ID  =  ID
#        Type : wild_Domestic
#        Zoo_Keeper : 
#    methods:
#        Food_Amount():

SW : People around in a city are vaccinated? (Arogya Sethu)

class People:
      properties:
          Name
          Age
          mobile_number
          blood_grp
          Aadhar ID
      methods:
          Log_vaccination
          Fully_partly_Vaccinated
          Riskometer
          Calc_next_Vaccination
          Book_Slot

In [ ]:
class student():
  #properties
  Name = ""
  ID = ""
  Marks = []
  #methods
  def calc_Aggregate(self,Marks):
    Total = 0
    Aggregate = 0.0
    for i in Marks:
      Total += i #Total = Total + i
    Aggregate = Total/len(Marks)
    return Aggregate 

stu1 = student()
stu1.Name = "Naveen"
stu1.ID = "JTPY0101"
stu1.Marks = [90,89,88,87,98,100]
aggre_marks  = stu1.calc_Aggregate(stu1.Marks)# => student.calc_Aggregate(stu1)
print("Aggregate of {} whose ID is {} is {}".format(stu1.Name,stu1.ID,aggre_marks))

Aggregate of Naveen whose ID is JTPY0101 is 92.0

In [ ]:
class student():
  #properties
  def __init__(self,name = "",id = "",marks=[]):# Class functions that begin with double underscore are special functions as they have special meaning.
  #out of them __init__() method. THis special function gets called whenever a new object is instantiated.
  # Constructor
    self.Name = name
    self.ID = id
    self.Marks = marks
  #methods
  def calc_Aggregate(self,Marks):
    Total = 0
    Aggregate = 0.0
    for i in Marks:
      Total += i #Total = Total + i
    Aggregate = Total/len(Marks)
    return Aggregate 

stu1 = student("Naveen","JTPY0101",[98,90,98,99,100,85])
print(stu1.Name)
print("Aggregate of {} whose ID is {} is {}".format(stu1.Name,stu1.ID,stu1.calc_Aggregate(stu1.Marks)))

Naveen
Aggregate of Naveen whose ID is JTPY0101 is 95.0

#19th May 2022
Polymorphism: 
It refers to the use of single type entity (method, operator, or object) to represent different types in different scenarios. 
Eg.,
len() : len(string) => 
len(List) => 
len(dict) => 

Area : Sqaure,Circle, Rectangle
class Sqaure:
  def Area(side):
    return side**2
class Cirle:
  def Area(radius):
    return pi*radius**2

+ :

In [ ]:
string1 = "Naga"
len(string1)

4

In [ ]:
a = [1,2,3,4]
len(a)

4

In [ ]:
a = "2"
b = "3"
sum1 = a+b
sum1

'23'

In [ ]:
class Square:
  def __init__(self,side):
    self.Side = side
  
  def Area(self):
    return self.Side**2

class Circle:
  def __init__(self,radius):
    self.Radius = radius
  
  def Area(self,pi):
    return pi*self.Radius**2 

sq_field = Square(4)#4M
areof_my_field = sq_field.Area()
print(areof_my_field)

circle_field = Circle(6)#6m
areof_my_field = circle_field.Area(3.14)
print(areof_my_field)

16
113.04

In [ ]:
#Cat and Dog
#sound() : meow and Bow Bow 
class Cat:
  def __init__(self):
    print("This is a Cat class")
  
  def sound(self):
    print("Sound made by a cat is Meow")

class Dog:
  def __init__(self):
    print("This is a Dog class")
  
  def sound(self):
    print("Sound made by a Dog is Bow Bow")

Jimmy = Dog()
Tom = Cat()
Jimmy.sound()
Tom.sound()

This is a Dog class
This is a Cat class
Sound made by a Dog is Bow Bow
Sound made by a cat is Meow

In [ ]:
#Ferrari : Petrol
#BMW : Diesel
#fuel_type()

class Ferrari:
  def __init__(self):
    self.fuel_type()

  def fuel_type(self):
    print("The fuel type of Ferrari is Petrol")
  
class BMW:
  def __init__(self):
    self.fuel_type()
    
  def fuel_type(self):
    print("The fuel type of BMW is Diesel")

Ferrari1 = Ferrari()
BMW1 = BMW()

The fuel type of Ferrari is Petrol
The fuel type of BMW is Diesel

#Inheritance
Refers to defining a new class with minimal or no modifications to an existing class. New class is called derived class. and one from which you inherited is called base class.

class Circle: #Base class
  #proeprties
  radius
  #method
  def Area():
    return pi*radius**2

class Cylinder(Circle):#derived class /child class
  #properties
  height
  #methods
  
  def Volume(self):
    return self.Area()*height

DErived class inheritsfeatures from the base class where new features can be added to it. This results in re-usability of code.

In [ ]:
class Circle:
  def __init__(self,radius):
    self.Radius = radius
  
  def Area(self):
    return 3.14*self.Radius**2#pi * r **2

class Cylinder(Circle):
  def __init__(self,height,radius):
    self.Height = height
    self.Radius = radius

  def Volume(self):
    return self.Area()*self.Height#pi * r**2 * h

base_glass = Circle(4)
glass = Cylinder(1,10)
Vol = glass.Volume()
print(Vol)

314.0

In [ ]:
class Sum_2_numbers:#base class
  def __init__(self,a,b):
    self.First_num = a
    self.Second_num = b

  def sum_2(self):
    return self.First_num + self.Second_num

class Sum_3_numbers(Sum_2_numbers):
  def __init__(self,a,b,c):
    self.First_num = a
    self.Second_num = b
    self.Third_num = c
  
  def sum_3(self):
    return self.sum_2()+self.Third_num

my_3_num_sum = Sum_3_numbers(2,3,4)
a = my_3_num_sum.sum_3()
print(a)

9

In [ ]:
#Person : base class
#isEmployee() : return False
#Employee : child class
#isEmployee() : return True

class Person:
  def isEmployee(self):
    print("No need that you are an employee")

class Employee(Person):
  def isEmployee(self):
    print("Yes! you are an employee")

Naga = Person()
naveen = Employee()
Naga.isEmployee()
naveen.isEmployee()

No need that you are an employee
Yes! you are an employee

In [ ]:
#Person : printName()
#Student : pass
class Person:
  def __init__(self,firstname,secondname):
    self.FirstName = firstname
    self.SecondName = secondname

  def printName(self):
    print(self.FirstName,self.SecondName)

class Student(Person):
  pass
  # => 
'''
  def __init__(self,firstname,secondname):
    self.FirstName = firstname
    self.SecondName = secondname

  def printName(self):
    print(self.FirstName,self.SecondName)
'''

Naga = Student("Naga","Arjun")
Naga.printName()

Naga Arjun

In [22]:
#Types of inheritance => Simple, Multi Level, Multiple Inheritance and Heirarchial Inheritance
#Simple Inheritance
#MultiLevel
class GrandParent:#Base class
  #properties
  def __init__(self,Name,Age,LStatus):
    self.Name =  Name
    self.Age = Age
    self.Living_status = LStatus
  
  #Methods

class Parent(GrandParent):#Derived class to GrandParent but a base class to child class
    def __init__(self,Name,Age,LStatus,Job):
      super().__init__(Name,Age,LStatus)
      self.Job = Job
  
class child(Parent):#Derived class to Parent class but a base class to Grand Child class
  pass

class GrandChild(child):# Derived class
  pass

p1 = GrandChild("Naga",32,"Alive","IT")
print(p1.Age)
print(p1.Living_status)
print(p1.Name)
print(p1.Job)

32
Alive
Naga
IT

In [19]:
class Circle:
  def __init__(self,radius):
    self.Radius = radius
  
  def Area(self):
    return 3.14*self.Radius**2#pi * r **2

class Cylinder(Circle):
  def __init__(self,height,radius):
    #Circle.__init__(self,radius)
    super().__init__(radius)
    self.Height = height
    #self.Radius = radius

  def Volume(self):
    return self.Area()*self.Height#pi * r**2 * h

class Pyramid(Cylinder):
  def Volume(self):
    return self.Area()*self.Height/3#pi * r**2 * h/3

class Trap(Pyramid):
  pass

#base_glass = Circle(4)
Bigger_Cone = Trap(1,10)
Smaller_Cone = Trap(0.5,5)
Vol_Big = Bigger_Cone.Volume()
Vol_Small = Smaller_Cone.Volume()
print("Volume of Trap is : ",Vol_Big - Vol_Small)

Volume of Trap is :  91.58333333333334

In [27]:
#Multiple INheritance
class Father:#Base class
  def __init__(self,Height,Fairness,Interests):
    self.Height = Height
    self.Fairness = Fairness
    self.Interests = Interests

class Mother:#Derived class to GrandParent but a base class to child class
  def __init__(self,Attitude, Hobbies):
    self.Attitude = Attitude
    self.Hobbies = Hobbies

class child(Father, Mother):#Derived class to Parent class but a base class to Grand Child class
  def __init__(self, Height, Fairness, Interests, Attitude, Hobbies):
    Father.__init__(self,Height,Fairness,Interests)
    Mother.__init__(self,Attitude,Hobbies)

Naveen = child(5.7,"Fair","Cricket","StraighFwd", "Exploring")
print(Naveen.Attitude)

StraighFwd

In [30]:
class Mul:
  def mul_method(self,a,b):
    print("MUl of two number :", a*b)

class Div:
  def div_method(self,a,b):
    print("Div of two number :", a/b)

class Arith(Mul, Div):
  #def func(self,a,b)        
  pass

simple_op = Arith()
simple_op.mul_method(2,3)
simple_op.div_method(1,2)

MUl of two number : 6
Div of two number : 0.5

In [33]:
#Heirarchial INheritance
class Parent:
  def __init__(self,Name,Age,Hobbies, Interests):
    self.Name = Name
    self.Age = Age
    self.Hobbies = Hobbies
    self.Interests = Interests

class Son1(Parent):
  pass

class Son2(Parent):
  pass

class Son3(Parent):
  pass

class Daughter(Parent):
  pass

s1 = Son1("Naga",32,"Browsing & PLaying", "Swimming")
s2 = Son2("Naveen",28,"Studying & Playing", "Coding")
d1 = Daughter("Mamatha",25,"Studying & Home Making","Coding & WOrking")
d1.Name

'Mamatha'